<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liying.dao.BusinessDao">
	<select id="list" resultType="PartPicture">
		SELECT PART_NO HASHNAME ,FILENAME FROM PART_PICTURE
	</select>
	
    <select id="getPartName" resultType="string">
		SELECT PART_NAME_ZH FROM PART WHERE PART_NO=#{partNO}
	</select>
	
	<insert id="add">
		INSERT INTO Z_PART_PICTURE(PART_NO, FILENAME) VALUES(#{partNO}, #{filename})
	</insert>
</mapper>